{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Lodestar - Home
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <section class="max-w-4xl mx-auto px-4">
            <div class="flex flex-col sm:flex-row gap-12">
                <!-- Newton Login Image div -->
                {% include 'includes/newton_image.html' %}
                <div class="text-center mb-12">
                    <h1 class="text-primary-custom text-xl font-semibold mb-6 tracking-wide font-heading">
                        Create a New Observing Session
                    </h1>
                    <p class="text-secondary-custom text-md tracking-wide mb-5">
                        Fill out the form below to log an observing session. View your existing sessions in the 'My Observations' link above.
                    </p>
                    <form method="post" class="form-fields space-y-6 md:space-y-8">
                        {% csrf_token %}
                        {{ observing_session_form|crispy }}
                        <div class="flex justify-center mt-8">
                            <button type="submit"
                                    class="bg-accent-custom hover:bg-highlight text-white hover:text-black px-8 py-3 rounded transition-all duration-500 ease-in-out font-medium tracking-wide transform hover:scale-105">
                                Save Observing Session
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% else %}
        <section class="mx-auto">
            <div class="flex flex-col justify-center items-center">
                <!-- Login Form -->
                <div class="bg-space p-12 rounded border border-bg-accent">
                    <h2 class="text-primary-custom text-2xl font-semibold mb-8 tracking-wide text-center font-heading">Login</h2>
                    <form method="post">
                        <!-- used in the app view to distinguish between this post request and the default one, for the new observing session above -->
                        <input type="hidden" name="login" value="1"/>
                        <div class="space-y-6">{% csrf_token %}{{ login_form|crispy }}</div>
                        <div class="flex justify-center mt-8">
                            <button type="submit"
                                    class="bg-accent-custom hover:bg-highlight text-white hover:text-black px-8 py-3 rounded transition-all duration-500 ease-in-out font-medium tracking-wide transform hover:scale-105 w-full">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-6">
                        <a href="{% url 'account_signup' %}"
                           class="text-accent-custom hover:text-highlight text-md tracking-wide transition-all duration-200 ease-in-out">
                            Create an Account Here
                        </a>
                    </div>
                </div>
                {% include 'includes/website_intro.html' %}
                {% include 'includes/hawking_quote.html' %}
            </div>
        </section>
    {% endif %}
{% endblock content %}
