{% load static %}
<section class="max-w-3xl mx-auto mt-16">
    <div class="bg-nebula p-10 rounded border border-bg-accent-custom grid grid-cols-1 md:grid-cols-3 gap-12 items-center">
            <!-- Image of Stephen Hawking -->
            <div class="bg-black bg-opacity-50 p-4 rounded border-bg-accent-custom justify-self-center">
                <img src="{% static 'images/stephen_hawking.jpg' %}" 
                     alt="An image of Stephen Hawking."
                     class="w-48 h-48 sm:w-56 sm:h-56 md:w-72 md:h-60 lg:w-80 lg:h-60 object-cover rounded-lg grayscale hover:grayscale-0 transition-all duration-300">
            </div>
            <!-- Quote Content -->
            <div class="md:col-span-2">
                <blockquote class="text-primary-custom text-lg leading-relaxed tracking-wide mb-4 italic">
                    “Remember to look up at the stars and not down at your feet. Try to make sense of what you see and wonder about what makes the universe exist. Be curious...”
                </blockquote>
                <cite class="text-secondary-custom text-md tracking-wide">— Stephen Hawking</cite>
            </div>
    </div>
</section>