{% load static %}
<div>
    <video src="{% static 'images/videos/issac_newton.mp4' %}"
           class="w-full h-60 md:h-115 object-cover rounded-full transition-all duration-300 mx-auto mb-4"
           autoplay
           muted
           playsinline
           preload="metadata"
           loading="lazy">
        <p>Your browser does not support displaying this video. Please use a modern browser to view this content.</p>
    </video>
    <p class="text-primary-custom text-lg leading-relaxed text-center mt-10">
        <em>"Gravity explains the motions of the planets, but it cannot explain who sets the planets in motion."</em>
        <cite class="text-secondary-custom text-md font-bold mb-2 text-center"> - Isaac Newton</cite>
    </p>
</div>
