{% load static %}
<div>
    <img src="{% static 'images/issac_newton.png' %}"
         alt="AI generated Isaac Newton observing through telescope."
         class="w-full h-48 md:h-80 object-cover rounded-lg hover:brightness-300 transition-all duration-300 mx-auto mb-4">
    <p class="text-secondary-custom text-md leading-relaxed text-center">
        <em>"Gravity explains the motions of the planets, but it cannot explain who sets the planets in motion."</em>
        <cite class="text-primary-custom text-lg font-semibold mb-2 font-heading text-center"> - Isaac Newton</cite>
    </p>
</div>
