<section class="max-w-4xl mx-auto mt-16">
    <div class="bg-nebula p-12 rounded border border-bg-accent-custom">
        <h2 class="text-primary-custom text-3xl font-semibold mb-8 tracking-wide text-center font-heading">{{ intro_title|default:"Welcome to Lodestar. An observation log for Astronomers, made by an Astronomer." }}</h2>
        <p class="text-secondary-custom text-xl leading-relaxed text-center">
            {{ intro_text|default:"Track your observing sessions and observations, all whilst ensuring you gather scientifically useful records. Log your discoveries of the cosmos and build a comprehensive record of your journey through interstellar space." }}
        </p>
    </div>
</section>