<section class="max-w-4xl mx-auto mt-16">
    <div class="bg-nebula p-12 border rounded">
        <h2 class="text-highlight-custom text-3xl font-semibold mb-8 tracking-wide text-center font-heading">
            {{ intro_title|default:"Welcome to Lodestar.<br><br>A scientifically useful observation log for Amateur Astronomers, made by an Amateur Astronomer." }}
        </h2>
        <p class="text-secondary-custom text-xl leading-relaxed text-center">
            {{ intro_text|default:"Track your observing sessions and observations of planets, stars and black holes(only kidding!), all whilst ensuring you gather scientifically useful records.<br><br>Log your discoveries of the cosmos and build a digital record of your journey through infinite space." }}
        </p>
    </div>
</section>
