<section class="max-w-4xl mx-auto mt-16" role="banner" aria-labelledby="intro-heading">
    <article class="bg-nebula p-12 rounded-xl">
        <header>
            <h2 id="intro-heading" class="text-highlight-custom text-3xl font-semibold mb-8 tracking-wide text-center font-heading">
                {{ intro_title|default:"Welcome to Lodestar.<br><br>Your Personal Observatory in the Digital Age" }}
            </h2>
        </header>
        <div class="intro-content">
            <p class="text-secondary-custom text-xl leading-relaxed text-center">
                {{ intro_text|default:"Transform every stargazing session into persistent digital data, enhanced by data from NASA and SIMBAD! <br><br>From your first glimpse of Saturn's rings to hunting down elusive nebulae millions of light-years away — Lodestar turns your telescope observations into a scientifically valuable treasure trove.<br><br><strong>Join a community of cosmic explorers who are recording the universe, one observation at a time.</strong>" }}
            </p>
        </div>
    </article>
</section>
